$success:rgb(102, 155, 188);
$primary:rgb(105, 94, 147);
$secondary:rgb(114, 9, 183);
$info:rgb(114, 9, 183);
// @import '../../../'
@import '../../../node_modules/bootstrap/scss/bootstrap'



// command to change color 
// sass theme.scss theme.css